<% layout('layouts/boilerplate') %>

    <h1>Meerkat Audiovisuals</h1>
    <div class="d-flex flex-row justify-content-end">
        <a class="btn btn-success" href="/audiovisuals/new">New audiovisual</a>
    </div>

    <hr>
    <% for(let audiovisual of all_audiovisuals) { %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title fw-bold">
                    <%= audiovisual.title %>
                </h5>
                <div lass="d-flex flex-row">
                    <p class="fw-bold">Description:</p>

                    <% if(audiovisual.description) { %>
                        <p class="text-truncate">
                            <%= audiovisual.description %>
                        </p>
                        <% }else { %>
                            <div class="fw-light fst-italic">
                                No description informed
                            </div>
                            <% }%>
                </div>
                <div class="d-flex flex-row">
                    <p class="fw-bold">Director:</p>

                    <% if(audiovisual.director) { %>
                        <p class="card-text">
                            <%= audiovisual.director %>
                        </p>
                        <% }else { %>
                            <div class="fw-light fst-italic">
                                No director informed
                            </div>
                            <% }%>
                </div>
                <div class="d-flex flex-row">
                    <p class="fw-bold">Release year:</p>

                    <% if(audiovisual.release_year) { %>
                        <p class="card-text">
                            <%= audiovisual.release_year %>
                        </p>
                        <% }else { %>
                            <div class="fw-light fst-italic">
                                No release year informed
                            </div>
                            <% }%>
                </div>
                <div>
                    <a class="btn btn-primary" href="/audiovisuals/<%= audiovisual._id%>">View
                        %></a>
                </div>
            </div>
        </div>
        <% } %>