<% layout('layouts/boilerplate') %>
    <div class="row">

        <h4>
            <%= audiovisual.title %>
        </h4>
        <div class="d-flex flex-row">
            <div class="fw-bold me-1">Type: </div>
            <%=audiovisual.type %>
        </div>

        <div class="d-flex flex-row">
            <div class="fw-bold me-1">Director: </div>
            <%=audiovisual.director %>
        </div>

        <div class="d-flex flex-row">
            <div class="fw-bold me-1">Main cast: </div>
            <%=audiovisual.main_cast %>
        </div>

        <div class="d-flex flex-row">
            <div class="fw-bold me-1">Country: </div>
            <%=audiovisual.country %>
        </div>

        <div class="d-flex flex-row">
            <div class="fw-bold me-1">Date added: </div>
            <%=audiovisual.date_added %>
        </div>

        <div class="d-flex flex-row">
            <div class="fw-bold me-1">Release year: </div>
            <%=audiovisual.release_year %>
        </div>

        <div class="d-flex flex-row">
            <div class="fw-bold me-1">Rating: </div>
            <%=audiovisual.rating %>
        </div>

        <div class="d-flex flex-row">
            <div class="fw-bold me-1">Duration: </div>
            <%=audiovisual.duration %>
        </div>

        <div class="d-flex flex-row">
            <div class="fw-bold me-1">Listed in: </div>
            <%=audiovisual.listed_in %>
        </div>

        <div class="d-flex flex-row">
            <div class="fw-bold me-1">Description: </div>
            <%=audiovisual.description %>
        </div>

        <div class="d-flex flex-row justify-content-evenly mt-3">
            <a class="btn btn-primary" href="/audiovisuals/<%= audiovisual._id%>/edit">Edit audiovisual</a>

            <form action="/audiovisuals/<%=audiovisual._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete audiovisual</button>
            </form>
        </div>

    </div>
    </div>